{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forgot Password</title>
</head>

<body class="login">
<div>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                <form class="no-margin" name="LoginForm" action="{% url 'users:movies_login' %}" method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <ul class='form-errors alert alert-block alert-danger'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <h1>{% trans "Password Reset" %}</h1>

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a
                        few minutes.{% endblocktrans %}</p>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br/>
                        <div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


</body>
</html>
