{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-inverse navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
        <ul class="nav navbar-nav navbar-left mr-auto">
          <li><a href="{% url 'users:movies_logout' %}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'watched' %}"><span class="glyphicon glyphicon-user"></span>View Movies I've Seen</a></li>
        </ul>
    </div>
</nav>

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <strong><li>{{ message }}</li></strong>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div id="cover">
    <form method="post" action="">
        {% csrf_token %}
        <div class="tb">
            <div class="td">
              <input type="text"
                     placeholder="Search"
                     required
                     name="q">
            </div>
            <div class="td" id="s-cover">
                <button type="submit">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
