{% extends "layout.html" %}

{% block body %}

<div id="cover">
    <form method="post" action="">
        {% csrf_token %}
        <div class="tb">
            <div class="td">
              <input type="text"
                     placeholder="Search"
                     required
                     name="q">
            </div>
            <div class="td" id="s-cover">
                <button type="submit">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
